<div class="text-center three vh-100">
  <%= render "layouts/header" %>

  <div class="container-full py-5 sticky-top">
    <div class="row">
      <div class="col-sm-12">
        <%= render "navigation_link" %>
      </div>
    </div>
  </div>

  <div class="container-full px-1 px-sm-5">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
      <% 7.times do %>
        <div class="col cursor-pointer">
          <%= image_tag "three_placeholder_img.png", class: "img-fluid" %>
        </div>
      <% end %>
    </div>
  </div>

</div>