<div class="text-center price vh-100 position-relative">
  <%= render "layouts/header" %>

  <div class="container">
    <div class="row position-relative">
      <img src="/assets/price_col_bg.png">
      <div class="col-sm-12 position-absolute top-50 start-50 translate-middle h-100 px-5 border">
        <!-- <div class="position-absolute top-50 start-50 translate-middle h-100 w-100 cred">
        </div> -->
        <div class="px-xl-4 px-lg-5 px-sm-4">

          <div class="row row-cols-3 text-light pt-5 px-xl-5 px-lg-4">

            <div class="col mt-5">
              <div class="d-flex justify-content-center mt-5 cred">
                <div class="my-auto">
                  <img src="/assets/basic_icon.png" class="img-fluid">
                </div>
                <div class="position-relative">
                  <img src="/assets/basic_t_bg.png" class="img-fluid">
                  <span class="position-absolute top-50 start-50 translate-middle">Basic</span>
                </div>
              </div>

              <div class="py-3 d-flex justify-content-center nav navbar">
                <div class="basic_color fs-1 ms-3">$0.00</div>
                <div class="ms-3 text-start d-flex flex-column">
                  <div>10 Models</div>
                  <div class="basic_color">USD</div>
                </div>
              </div>

              <div class="text-start">
                <ul class="ps-5">
                  <li class="mb-2">
                    Cutting-edge text-to-3D and image-to-3D capabilities.
                  </li>
                  <li class="mb-2">
                    Access and download your generated models.
                  </li>
                  <li class="mb-2">
                    Unlimited draft generation.
                  </li>
                  <li>
                    Uo to 10 high-quality 3D models monthly.
                  </li>
                </ul>
              </div>

              <button class="basic_bg border-0 text-light py-3 px-5 rounded-5">Current Plan</button>
            </div>

            <div class="col border">
              <div class="d-flex justify-content-center">
                <div class=" my-auto">
                  <img src="/assets/pro_icon.png" class="img-fluid">
                </div>
                <div class=" position-relative">
                  <img src="/assets/pro_t_bg.png" class="img-fluid">
                  <span class="position-absolute top-50 start-50 translate-middle">Professional</span>
                </div>
              </div>
            </div>

            <div class="col border">
              <div class="d-flex justify-content-center">
                <div class=" my-auto">
                  <img src="/assets/pre_icon.png" class="img-fluid">
                </div>
                <div class=" position-relative">
                  <img src="/assets/pre_t_bg.png" class="img-fluid">
                  <span class="position-absolute top-50 start-50 translate-middle">Premium</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

