.three {
  background-image: url("three_bg2x.png");
  background-size: cover; /* 图片覆盖整个元素 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 图片不重复 */
}

.three_content_bg {
  background-image: url("three_index_bg2x.png");
  background-size: 100% 100%; /* 图片覆盖整个元素 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 图片不重复 */
}

.three_create_btn {
  background-color: black;
  &:hover {
    background-image: var(--bg_linear_gradient);
  }
}