<div class="alert alert-dark text-center alert-dismissible fade show border-0 rounded-0 sticky-top d-flex justify-content-center navbar" role="alert">
  <i class="material-icons outlined">warning</i> <span> You have to confirm your email address.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>